html {
    font-family: Arial, Helvetica, sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

body {
	overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: inline-block;
	text-align: right;
    width: 100%;
    top: 5px;
	margin-top: 10px;
	padding-right: 5px;
}

.header a {
    font-size: 13px;
    color:rgba(0,0,0,0.87);
}

.header button {
    font-weight: bold;
    border: 0;
    padding: 6px 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 30px;
    font-size: 10pt;
    color: white;
    background-color: #4285f4;
}

footer {
	margin-top: 40px;
    width: 100%;
    background-color: #f2f2f2;
    bottom: 0;
    position: relative;
    line-height: 40px;
}

.foot {
	padding-left: 145px;
    border-top: 1px solid #e4e4e4;
}

.foot a {
	color: #5f6368;
	font-size: small;
}

footer a, p {
    font-size: 15px;
    padding-left: 25px;
}

.abovfoot p {
    padding: 0 0 0 25px;
    margin: 0;
    color: rgba(0,0,0,.54);
	display: inline;
}

#googledots {
    padding: 10px 15px 0 5px;
    vertical-align: bottom;
}

.search p {
    color: rgba(0,0,0,0.87);
    padding-top: 20px;
    font-size: 10pt;
}

.search a {
    color: blue;
    font-size: 10pt;
}

.leftstuff {
	float: left;
	margin: 20px 0 0 30px;
}

.header input {
	font-size: 12.5pt;
	border: 2px solid #f2f2f2;
	outline: none;
	padding: 13px 20px;
	border-radius: 25px;
	margin-top: 10px;
}

.header input:hover {
	box-shadow: 2px 3px 3px -4px #000;
}

.clickables {
	text-align: left;
	margin-top: 40px;
	border-bottom: 1px solid #ebebeb;
}

.clickables a {
	display: inline;
	color: #777;
	font-size: 13px;
	padding-right: 25px;
}

.inline-block-child {
	display: inline-block;
	border-bottom: 3px solid blue;
	padding-bottom: 17px;
	margin-left: 170px;
	padding-left: 10px;
}

.inline-block-child a {
	color: #1A73E8;
	font-weight: bold;
}

.main p {
	padding: 0;
	margin: 0;
}

.main {
	margin-left: 172px;
}

#searchtime {
	margin-top: 13px;
	margin-left: -2px;
	font-size: small;
	color: #808080;
}

.searchres {
	clear: both;
	margin-top: 25px;
}

.searchres a {
	color: #1a0dab;
	font-size: 18px;
}

.greentext {
	line-height: 23px;
	color: #006621;
	font-style: normal;
	font-size: 14px;
}

.linktext {
	color: #545454;
	line-height: 17px;
	font-size: small;
}

#peopleask {
	margin-left: -20px;
	border-radius: 8px;
	margin-right: 890px;
	border: 1px solid #e5e5e5;
	margin-top: 30px;
	margin-bottom: 40px;
}

#peopleaskfirst p {
	padding: 15px 0 12px 16px;
	font-size: 20px;
	color: #808080;
}

.peopleaskother {
	padding: 8px 0 6px 16px;
	border-top: 1px solid #e5e5e5;
}

.peopleaskother p {
	font-size: 18px;
}

#smallfeedback {
	margin-top: -37px;
	color: #777;
	font-size: 11px;
	font-style: italic;
	margin-right: 904px;
	margin-bottom: 20px;
	float: right;
}

#smallalignedlinks {
	padding-right: 7px;
	font-size: small;
	color: #1a0dab;
}

#searchrel {
	color: #222;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 24px;
}

#searchrellink {
	padding-bottom: 11px;
	display: block;
	font-size: 14px;
}

.biggoogle {
	margin-bottom: -10px;
	clear: both;
	padding-top: -10px;
	margin-left: 176px;
}

.biggoogle a {
	display: inline;
	color: #4285f4;
	font-size: small;
	padding-right: 8px;
}

.abovfoot {
	padding-left: 145px;
}

.abovfoot a {
	color: #5f6368;
	font-size: small;
}